<footer>
  <div class="footer-content">
    <div class="flex-grid">
      <div class="col github-logo">
        <a target="_blank" href="https://github.com/Blankenship-Daniel"><i class="fa fa-github"></i></a>
      </div>
      <div class="col">
        <p>Daniel Blankenship</p>
        <p>&copy; 2017 | All Rights Reserved</p>
      </div>
      <div class="col linkedin-logo">
        <a target="_blank" href="https://www.linkedin.com/in/danieljblankenship/"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
