<div class="container">
  <div class="blog-post" *ngFor="let post of posts | async">
    <h1><a routerLink="/blog/{{ post.slug }}">{{ post.title }}</a></h1>
    <hr>
    <p><i>{{ convertDate(post.timestamp) }}</i></p>
    <div [innerHTML]="post.post" highlight-js-content=".highlight"></div>
  </div>
  <div [ngClass]="{'show': showBlogNav}" class="blog-navigation">
    <span [ngClass]="{'show': offset > 0}" class="prev">
      <a [href]="prevPage()">Newer Posts</a>
    </span>
    <span [ngClass]="{'show': showOlderPosts}" class="next">
      <a [href]="nextPage()">Older Posts</a>
    </span>
  </div>
</div>
